/* 重置浏览器默认样式 */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* 设置全局字体和背景 */
body {
    font-family: 'Arial', sans-serif;
    /* 如果要在整个页面使用背景图片，请确保路径正确 */
    /* background: url('../bj/bj1.png'); */
}

/* header样式 */
header{
    /* 如果已经为body设置了背景图片，这里可以选择不使用背景图片 */
    background-image: url("../bj/bj1.png"); 
    /* 如果要使用背景颜色 */
    background-color: #f8f9fa;
    background-size: cover;
    height: 620px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.header-content {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

header h1 {
    font-size: 48px;
}

header p {
    font-size: 24px;
    margin-top: 10px;
}

/* 按钮样式 */
.play-now {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff; /* 更新了按钮背景颜色 */
    color: white;
    text-decoration: none;
    border: none; /* 移除了边框 */
    border-radius: 5px;
    cursor: pointer; /* 添加了鼠标指针样式 */
    transition: background-color 0.3s;
}

.play-now:hover {
    background-color: #0056b3; /* 更新了悬停时的背景颜色 */
}

/* main内容区域样式 */
main {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 介绍和功能区域样式 */
.introduction, .features {
    margin-bottom: 50px;
}

.introduction h2, .features h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

.introduction p, .features p {
    line-height: 1.6;
    font-size: 18px;
}

/* 功能项样式 */
.features {
    display: flex;
    justify-content: space-between;
}

.feature-item {
    width: 30%;
    text-align: center;
}

.feature-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

/* 页脚样式 */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

/* 视频容器样式 */
.video-container {
    width: 600px;
    height: auto;
    display: none; /* 初始隐藏，可以通过JavaScript显示 */
    max-width: 100%;
}

/* 悬浮窗口的样式 */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  /* 悬浮窗口内容 */
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  /* 悬浮窗口中的视频 */
  #videoPlayer {
    max-width: 100%;
    height: auto;
  }
  
  /* 关闭按钮 */
  .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #fff;
    cursor: pointer;
  }
  
